
@import "./data";

*,
*::before,
*::after {
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

header {
	display: flex;

	padding: 30px 100px 0 0;

}
